* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Roboto, sans-serif;
}

/* General styles */
body {
    background-color: #f2f7f3ff;
}

/* Header and nav styles */
header, .hero-section, .statement-box, .hero-color, footer {
    background-color: #b3a19dff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-items {
    display: flex;
}

nav ul li, nav ul {
    text-decoration: none;
    list-style-type: none;
}

/* Front page aka or hero section styles */

.hero-section {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.hero-text {
    width: 50%;
}

.hero-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.picture {
    width: 50%;
    background-color: #7369a5ff;
}

img {
    max-width: 30%;
}

/* Styles for list of MyKeyChain features */
.main-text {
    text-align: center;
}

.box-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
}

/* Sign up box styles */
.sign-box {
    background-color: #7369a5ff;
    display: flex;
    margin: 0 20%;
}