* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Roboto, sans-serif;
}

/* General styles */
body {
    background-color: #f2f7f3ff;
}

/* Header and nav styles */
header, .hero-section, .statement-box, .hero-color, footer {
    background-color: #b3a19dff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
}

.Logo {
    font-size: 1.5em;
    color: white;
}

.nav-items {
    display: flex;
    align-items: center;
}

nav ul li, nav ul {
    text-decoration: none;
    list-style-type: none;
}

.nav-items li {
    font-size: 1.1rem;
    margin-left: 1.1rem;
}

.sign-top {
    padding: 0.4rem 1rem;
    background-color: white;
    border-radius: 8px;
}

/* Front page aka or hero section styles */

.hero-color, html, body, main {
    height: 100%;
}

.hero-section {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 5% 0;
    box-sizing: border-box;
}

.hero-text {
    width: 50%;
}

.hero-inside {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2rem;

}

.hero-inside h1 {
    font-size: 4vw;
}

.hero-inside p {
    font-size: 1.7vw;
}

.hero-inside button {
    padding: 0.4rem 1rem;
    background-color: #7369a5ff;
    border-radius: 8px;
    font-size: 1.3rem;
    color: white;
    width: 8rem;
}

.picture {
    width: 50%;
    background-color: #7369a5ff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 120%;
}

/* Styles for list of MyKeyChain features */
.main-text {
    text-align: center;
}

.box-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
}

/* Sign up box styles */
.sign-box {
    background-color: #7369a5ff;
    display: flex;
    margin: 0 20%;
}